

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.canvas {
  width: 100%;
  margin:10px 0;
  padding:25px 0;
  background: #dff1f8;
}

.fixed-footer{
  position:fixed;
  bottom:0;
  width:100%;
  min-height:50px;
  padding:15px;
}
